.tooltip {
  position: relative;
}
.tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.tooltip[data-position="left"]:before {
  left: 0;
  transform: translateX(-99%);
}
.tooltip[data-position="right"]:before {
  left: 100%;
}
.tooltip:hover:before {
  opacity: 1;
  visibility: visible;
}

.navigation-buttons {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  position: relative;
}

.next-button,
.previous-button {
  display: inline-block;
  border-radius: 50%;
  padding: 5px 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.previous-button {
  position: absolute;
  left: 20px;
}

.next-button {
  position: absolute;
  right: 20px !important;
}

.disabled.next-button,
.disabled.previous-button {
  filter: grayscale(100%);
  opacity: 0.7 !important;
}

.next-button.large {
  border-radius: 15px;
}

input[disabled] {
  background-color: silver;
  border-color: gray;
}

.required-alert,
.valid-field-info,
.error-field-info {
  position: absolute;
  top: 1.5em;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 33px solid transparent;
  border-right: 33px solid rgba(129, 0, 161, 0.6);
  border-radius: 0 5px 0 0;
  color: white;
  text-align: left;
  pointer-events: none;
  /*display: none;  Hide the icon initially */
}

span .required-alert,
span .valid-field-info,
span .error-field-info {
  top: -10px !important;
  right: 7px;
  width: 0;
  height: 0;
}

.valid-field-info {
  border-right: 33px solid rgba(32, 170, 7, 0.6);
  display: none; /* Hide the icon initially */
}

.error-field-info {
  border-right: 33px solid rgba(246, 4, 4, 0.6);
  display: none; /* Hide the icon initially */
}

.required-alert i,
.valid-field-info i,
.error-field-info i {
  position: relative;
  right: -17px;
  top: -3px;
}

.alert-icon::after {
  content: "Champ requis";
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #007bff; /* Primary color */
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: auto; /* Allow pointer events on the tooltip */
}

.alert-icon:hover::after {
  opacity: 1;
}

.error-msg {
  color: red;
  background-color: white;
  position: absolute;
  top: -1em;
  right: 0;
}

.spaced-list {
  list-style: none;
}

.spaced-list li {
  padding: 1px 5px;
  margin-top: 5px;
  border-bottom: #007bff;

  /* border: solid 2px rgba(8, 182, 2, 0.968);
  border-radius: 8px;
  background-color: rgba(8, 182, 2, 0.2);*/
}
.sub-menu {
  margin-top: 5px;
  display: none;
}

.sub-menu ul {
  list-style: square !important;
}
.sub-menu li {
  background-color: rgba(8, 182, 2, 0.1);
  border: solid 1px rgba(8, 182, 2, 0.4);
  border-radius: 15px;
  margin-top: 0;
  margin-right: 15px;
}

.spaced-list li::first-letter {
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
  margin-left: 5px;
}

.spaced-list li.unfold .sub-menu {
  display: block !important;
}

.fold-icon {
  font-size: 40px !important;
  color: blueviolet;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0;
  display: inline-block;
  transform: translateZ(0);
}

.unfold > .fold-icon {
  transform: rotate(90deg);
  transition: transform 0.9s ease-in-out;
}

#end-process {
  width: 100%;
  height: 50px;
  position: relative;
  top: 15px;
  z-index: 1000;
  border: solid 1px rgba(246, 4, 4, 0.6);
  color: rgba(246, 4, 4, 0.6);
  background-color: rgba(246, 4, 4, 0.1);
  border-radius: 10px;
}
#end-process .message {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
  font-size: larger;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin-right: 1em !important;
}

input[type="date"]::-moz-calendar-picker-indicator {
  margin-right: 1em !important;
}

/* Hide the default arrow */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right center;
}

/* Add margin-right to the custom arrow */
select::-ms-expand {
  display: none;
}

/* ===================================  */

.input-with-prefix {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 50px;
}

.input-with-prefix .required-alert i,
.input-with-prefix .valid-field-info i,
.input-with-prefix .error-field-info i,
.input-with-prefix .alert-icon,
.input-with-prefix .alert-icon::after {
  transform: translateY(-50%);
}

.prefix {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}

.input-field {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  background: transparent;
}

.input-with-prefix:focus-within {
  border-color: #66afe9;
}
